<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {{>headerlinks}}
    
    
    
    
</head>
<body>
{{>navbar}}
<!-- main header -->

<div class="containter-fulid header">
    <div class="row">
        <div class=" col-12 mx-auto">
            <!-- left side div -->

            <div class="col-md-6 col-12 main_header_left align-items-center">
                <figure>
                    <img src="images/Nazmul_Vai_-removebg-preview.png" alt="nazmul" class="img-fluid" title="Nazmul Hasan">
                </figure>
            </div>

            <!-- right side div -->
            <div class="col-md-6 col-12 main_header_right">
                <p>welcome to weather app</p>
                <h1>I am A<span class="text_color">Web Developer</span> And A Freelancer</h1>
                <a href="https://www.fiverr.com/wp_nazmulhasan" target="_nazmul"><button>About me</button></a>
            
            </div>
            
            




        </div>
    </div>
</div>


<!-- footer code -->

{{>footer}}

</body>
</html>