<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {{>headerlinks}}
    
    
    
    <title>weather app</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/js" type="image/png">
</head>
 <body onload="startTime()">
  {{>navbar}}


<!-- main header -->

<div class="containter-fulid header">
    <div class="row">
        <div class=" col-12 mx-auto">

            {{!-- weather app div --}}

            <div class="main_content">
                <form action="" class="temp_form">
                  <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off" >
                  <input type="submit" value="search" id="submitBtn">
                </form>
            </div>
            <div class="tempInformation">
                <div class="top_layer">
                    <p id="day">Tuesday</p>
                    <p id="time">Tuesday</p>
                    <p id="today_data">13 OCT</p>
                </div>

                <div class="main_layer">
                    <p id="city_name">Get City Name Here</p>
                    <div class="middle_layer data_hide">
                        <p id="tempdiv"><span id="temp" >0</span> <sup>o</sup> C</p>
                        <p id="temp_status">
                            
                        </p>
                    </div>
                </div>
            </div>
                                  
        </div>
    </div>
</div>

 <!-- weather app div --> 
<!-- footer code -->
{{>footer}}
<script src="js/main.js"></script>

</body>
</html>